page-home {

  .tutorial-page{

    background: #fff;
    border-color: transparent;

    img{
      max-height: 50%;
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;
    }


    ion-icon {
      font-size: 30px;
    }

    label{
      color: #488aff;
    }

    button{
      width: 50px;
      height: 50px; 
    }
  }

}
