page-home {
  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }

  
  .card {
    img{
      max-height: 50%;
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;
    }

    ion-icon {
      font-size: 50px;
    }

    ion-row {
      height: 100%;
      flex-wrap: wrap;
    }

    ion-col {
      flex: 0 0 25%;
      max-width: 25%;
      text-align: center;
      padding: 10px 5px;
    }
  }


  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

  .icons-basic-page {
    ion-icon {
      font-size: 50px;
    }

    ion-row {
      height: 100%;
      flex-wrap: wrap;
    }

    ion-col {
      flex: 0 0 25%;
      max-width: 25%;
      text-align: center;
      padding: 10px 5px;
    }
  }

  .linha-textos{
    align-items: center;

    ion-badge{
      font-size: 11px;
      margin-left: auto;
      margin-right: auto;
    }

    ion-col {
      flex: 0 0 25%;
      max-width: 25%;
      text-align: center;
      padding: 10px 5px;
    }
  }

}
